<div class="-newsletter-2">
    <img src="{{ link_asset('images/news-letter-2.png') }}" alt="" class="">
    <div class=".__content2 absolute inset-0">
        <div class="_container my_container realtive">
            <div class="-textleft">
                <h2>Gamepro Newsletter</h2>
                <p>fresh update</p>
            </div>
            <div class="-input_bar">
                <input type="text" class="-input" placeholder="Your Email" style="box-shadow: none;">
                <button class="-btn">
                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 10.5H19" stroke="#EF8041" stroke-opacity="0.9" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12 4.375L19 10.5L12 16.625" stroke="#EF8041" stroke-opacity="0.9"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>