<div class="border rounded-md drop-shadow-xl">
    <div class="-top5">
        <h2>Top 5 Best games</h2>
        <div class="__list">
            <div class="-item">
                <h3>1</h3>
                <a href="#">The Witcher 3: Blood & Wine — Best Endings</a>
            </div>
            <div class="-item">
                <h3>2</h3>
                <a href="#">S.T.A.L.K.E.R. 2: Shadow of Chornobyl</a>
            </div>
            <div class="-item">
                <h3>3</h3>
                <a href="#">Sonic Superstars: Make New Foes, but Keep the Old</a>
            </div>
            <div class="-item">
                <h3>4</h3>
                <a href="#">Parting Shots – Harvest Moon: The Winds of Anthos</a>
            </div>
            <div class="-item">
                <h3>5</h3>
                <a href="#">Avatar: Frontiers of Pandora – On a Wing and a Prayer</a>
            </div>

            <div class="view_more">
                <a href="#">View more</a>
            </div>
        </div>
    </div>
</div>