<!--worth_seeing-->
<div class="bg-black">
    <div class="my_container worth_seeing">
        <h2>worth seeing</h2>
        <div class="section_content" style="margin-top: 20px;">

            <div class="__left_content">
                <div class="__video">
                    <img src="./public/images/hero.png" alt="">
                    <div class="__play">
                        <svg viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_69_866)">
                                <path
                                    d="M42.5 77.9166C62.0601 77.9166 77.9167 62.06 77.9167 42.4999C77.9167 22.9398 62.0601 7.08325 42.5 7.08325C22.9399 7.08325 7.08334 22.9398 7.08334 42.4999C7.08334 62.06 22.9399 77.9166 42.5 77.9166Z"
                                    fill="#333B7C" />
                                <path
                                    d="M42.5 81.4166C63.9931 81.4166 81.4167 63.993 81.4167 42.4999C81.4167 21.0068 63.9931 3.58325 42.5 3.58325C21.0069 3.58325 3.58334 21.0068 3.58334 42.4999C3.58334 63.993 21.0069 81.4166 42.5 81.4166Z"
                                    stroke="#979797" stroke-opacity="0.3" stroke-width="7" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M35.4167 28.3333L56.6667 42.4999L35.4167 56.6666V28.3333Z" fill="#BCB0B0"
                                    fill-opacity="0.6" />
                            </g>
                            <defs>
                                <clipPath id="clip0_69_866">
                                    <rect width="85" height="85" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
                <p>
                    Teaser for the new game from the makers of Little Nightmares is dark and has a talking scary pig
                </p>
            </div>

            <div class="__right_content">
                <div class="__list">
                    <div class="-item">
                        <a href="#" class="">In the brand new Animal Crossing alternative Floatopia you build floating
                            islands</a>
                    </div>
                    <div class="-item">
                        <a href="#" class="">Kingdom Come: Deliverance 2 - New gameplay takes you back to the Middle
                            Ages</a>
                    </div>
                    <div class="-item">
                        <a href="#" class="">In the brand new Animal Crossing alternative Floatopia you build floating
                            islands</a>
                    </div>
                    <div class="-item">
                        <a href="#" class="">In the brand new Animal Crossing alternative Floatopia you build floating
                            islands</a>
                    </div>
                    <div class="-item">
                        <a href="#" class="">In the brand new Animal Crossing alternative Floatopia you build floating
                            islands</a>
                    </div>
                    <div class="-item">
                        <a href="#" class="">In the brand new Animal Crossing alternative Floatopia you build floating
                            islands</a>
                    </div>
                    <div class="-item">
                        <a href="#" class="">In the brand new Animal Crossing alternative Floatopia you build floating
                            islands</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>