{% extends 'layouts/default.html' %}

{% block content %}
<!--main-->
<div class="main">
    <div class="my_container">
        <div class="__breadcrumb">
            <ul class="__list">
                {% include 'components/breadcrumb.html' with { page:'Tag' , title: post.title} %}
            </ul>
        </div>
        <div class="section_content mt-4">
            <div class="__left_content post">
                <div class="-title">
                    <p>{{ post.title }}</p>
                    <div class="__info flex-wrap">
                        <p>{{ post.created_at|date("d.m.Y") }}</p>
                    </div>
                    <div class="-tags">
                        {% for websiteTag in model_relation(post, 'websiteTags') %}
                            <a href="{{ link_to(websiteTag) }}">{{ websiteTag.name }}</a>
                        {% endfor %}
                        {% for websiteCategory in model_relation(post, 'websiteCategories') %}
                            <a href="{{ link_to(websiteCategory) }}">{{ websiteCategory.title }}</a>
                        {% endfor %}
                    </div>
                    {% set thumbnailFile = model_relation(post, 'thumbnailFile') %}
                    <img src="{{ thumbnailFile ? image_resize(300, thumbnailFile) }}" alt="" class="">
                </div>
                <div class="-post_content">
                    {{ content.content | raw }}
                </div>
            </div>

            <div class="__right_content flex flex-col gap-6">
                {% include 'components/upcoming-games.html' %}
                {% include 'components/social-media.html' %}
            </div>

        </div>
    </div>
</div>

{% endblock %}