{% extends 'layouts/default.html' %}

{% block content %}
{% include 'components/hero.html'%}
<div class="my_container section_content">
    <div class="__left_content category">
        {% if postsCount > 0 %}
        <div class="__list">
            {% include 'components/card-item.html' with { resources: listData.getResources() } %}
        </div>

        {% include 'components/pagination_tailwind.html' with { resources: listData.getResources(), count: listData.getResourcesCount() } %}
        {% else %}
        <div class="my_container">
            <div class="flex flex-col items-center justify-center h-96">
                <h1 class="text-2xl font-bold">No results found</h1>
                <p class="text-sm">Please try again with another keyword</p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="__right_content">

        <div class="flex flex-col gap-20 max-sm:gap-10">

            <div class="flex flex-col gap-6">
                {% include 'components/top-5.html' %}
                {% include 'components/social-media.html' %}
                {% include 'components/new-letter.html' %}
            </div>

            {% include 'components/popular-articles.html' %}
            {% include 'components/upcoming-games.html' %}
        </div>
    </div>
</div>

{% endblock %}