@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Gohtam-Light";
  src: url("../font/Gotham/Gotham-Light.otf");
}

@font-face {
  font-family: "ShentoxTh";
  src: 
    url("../font/Shentox_TRIAL/ShentoxTRIAL-Md.otf") format("opentype"),
}

@font-face {
  font-family: "Shentox";
  src: 
  url("../font/Shentox_TRIAL/ShentoxTRIAL-Bd.otf") format("opentype"),
}

.main {
  @apply mt-10 sm:mt-6;
}

.my_container {
  @apply max-w-[904px] mx-auto sm:px-[20px] md:px-[60px];
}

.base-flex {
  @apply flex items-center;
}

.section_content {
  @apply grid grid-cols-3 sm:grid-cols-1 gap-5 mt-20 sm:mt-8;
  .__left_content {
    @apply col-span-2 sm:col-span-1;
  }

  .__right_content {
    @apply col-span-1;
  }
}

.__section_title {
  @apply border-b-2 border-secondary h-[24px] relative;

    p {
        @apply px-1 py-1 bg-secondary w-[119px] text-white text-[12px] leading-[15.52px] h-[24px] font-bold text-center uppercase;
    }

    a {
        @apply px-1 py-1 bg-secondary w-[119px] text-white text-[12px] leading-[15.52px] h-[24px] font-bold text-center uppercase hover:underline block;
    }

    .line{
        @apply w-0 bg-secondary absolute bottom-0 left-0 h-[1px] transition-all duration-300 ease-out;
    }

}

.__section_title a:hover ~ .line,
.__section_title p:hover ~ .line {
  @apply w-full; /* Khi hover vào cả thẻ <a> hoặc <p>, line sẽ mở rộng */
}

.__section_title-2 {
  @apply border-b-2 border-secondary h-[24px];

  p {
    @apply px-1 py-1 bg-secondary w-[82px] text-white text-[12px] leading-[14.52px] h-[24px] font-bold text-center capitalize;
  }

  a {
    @apply px-1 py-1 bg-secondary w-[82px] text-white text-[12px] leading-[14.52px] h-[24px] font-bold text-center capitalize block hover:underline;
  }
}

.__info {
  @apply flex gap-4 items-center;

  p {
    @apply text-[11px] leading-[13.31px] font-medium text-[#00000080];
  }

  span {
    @apply text-[#00000080] text-[10px] leading-[12px] font-normal;
  }
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.view_more {
  @apply flex items-center;

  a {
    @apply text-[8px] leading-[10px] font-medium uppercase flex items-center gap-2 after:block after:w-[100px] after:h-[1px] after:bg-black;
  }

  p {
    @apply text-[8px] leading-[10px] font-medium uppercase flex items-center gap-2 after:block after:w-[100px] after:h-[1px] after:bg-black cursor-pointer;
  }
}

.-tags {
  @apply flex flex-wrap gap-2 pt-2 mb-4 mt-4;

  a {
    @apply px-2 py-1 text-[16px] leading-none bg-[#E2DED5] border-transparent rounded font-medium;
  }

  a:hover {
    @apply underline;
  }
}

.pagination_btn {
  @apply text-[14px] leading-[17px] font-bold text-white uppercase py-3 w-full bg-tertiary rounded text-center block;
}
